$color-primary: #d80032;
$color-secondary: #2b2d42;
$color-gray: #c4c4c4;

/* ================================== Fonts ================================= */

$font-display: 34px;
$font-heading: 18px;
$font-subheading: 24px;
$font-normal: 20px;
$font-body: 16px;
$font-caption: 12px;