@page {
    size: A4;
    margin: 8mm 2mm;
}

#printArea {
    .pa-head {
        font-size: 28px;
    }
    .pa-subhead {
        font-size: 20px;
        font-weight: bold;
    }
    .pa-normal {
        font-size: 16px;
    }
    .pa-skill-bar {
        .item {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
            &.on {
                background-color: $color-primary;
            }
            &.off {
                background-color: $color-gray;
            }
        }
    }

    .pa-flex-wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    .pa-flex-wrapper > * {
        width: 50%;
    }

    li {
        list-style: disc;
        margin-left: 16px;
    }
}