:root {
  --color-primary: #d80032;
  --color-secondary: #2b2d42;
  --color-secondary-light: hsl(235, 37%, 76%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .nav-md {
      /* width: auto !important; */
      height: auto !important;
      background-color: transparent !important;
      /* text-align: center !important; */
    }

    .h-768p {
      height: 768px !important;
    }
  }
}